@import '../../theme/index.less';

@siderWidth: 256;
@paddingOneSide: 16;
@siderContentWidth: @siderWidth - 2 * @paddingOneSide;
@hover-bg: #dee0e3;
@radius: 4px;
@talent-text-color: #1f2329;

:export {
  siderWidth: @siderWidth;
  paddingOneSide: @paddingOneSide;
}

.innerTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 16px;
  right: 16px;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  :global {
    .subsider-inner-title-name {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .subsider-inner-title-icon {
      display: none;
      flex: 0 1 14px;
      color: #646a73;
      margin-left: 8px;

      &:hover {
        color: #3370ff;
      }
    }
  }
}

.subSider {
  height: 100%;
  background-color: @layout-background-color;
  flex-direction: row;

  :global {
    .@{prefix}-layout-sider {
      padding-left: 0;
      //padding-left: @paddingOneSide * 1px;
      //padding-right: @paddingOneSide * 1px;
      padding-right: 0;

      .scrollbar-container {
        padding-right: @paddingOneSide * 1px;
        padding-left: @paddingOneSide * 1px;
      }

      .@{prefix}-sider-menu {
        background-color: @layout-background-color;
        padding-top: 24px;
        transition: none;

        &.transform-16 {
          transition: transform 0.2s linear;
          transform: translate3d(-@paddingOneSide * 1px, 0, 0);
        }

        .@{prefix}-menu-submenu {
          .@{prefix}-menu-sub {
            background: transparent;
          }

          .@{prefix}-menu-item {
            padding-left: 36px !important;
          }
        }

        .@{prefix}-menu-item {
          //padding-left: 0;
          padding-left: 0 !important;
          padding-right: 0;
          //padding-right: 0 !important;
          width: 100%;
          margin-top: 0;
          margin-bottom: 0;
          transition: none;

          &:hover {
            .subsider-inner-title-icon {
              display: flex;
            }
          }

          &:not(.zyk-menu-item-selected):not(.zyk-menu-item-has-other-children):hover {
            background: @hover-bg;
            border-radius: @radius;
            color: @talent-text-color;

            > a:hover {
              color: @talent-text-color;
            }
          }

          &:not(:last-child) {
            margin-bottom: 0;
          }

          > a {
            color: #1f2329;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            padding-left: @paddingOneSide * 1px;
            padding-right: @paddingOneSide * 1px;
            height: 40px;
            position: relative;
          }

          // 人才库特殊处理
          &.talent-folder-subsider-menu-item {
            margin-top: 0;
          }

          &:not(.zyk-menu-item-has-other-children).talent-folder-subsider-menu-item {
            &:hover {
              background: @hover-bg;
              border-radius: @radius;
              color: @talent-text-color;

              > a:hover {
                color: @talent-text-color;
              }
            }

            > a {
              padding-left: 30px;
              color: @talent-text-color;
            }

            &.zyk-menu-item-selected {
              > a {
                color: @primary-color;
              }
            }
          }

          &.zyk-menu-item-has-other-children {
            overflow: visible;
            height: auto;
            line-height: initial;

            &.zyk-menu-item-selected {
              background-color: transparent;
            }
          }
        }

        .@{prefix}-menu-item-selected {
          border-radius: @radius;
          background: @menu-selected-bg;
          // 人才库特殊处理
          &:not(.zyk-menu-item-has-other-children).talent-folder-subsider-menu-item {
            &:hover {
              background: @menu-selected-bg;
              color: @primary-color;

              > a:hover {
                color: @primary-color;
              }
            }
          }

          > a {
            color: @primary-color;
          }

          &::after {
            display: none;
          }
        }
      }
      // 没有第一级菜单式，第二级菜单改变样式
      &.zyk-sub-sider-without-top-sider {
        //padding-left: 0;
        //padding-right: 0;

        .scrollbar-container {
          padding-left: 0;
          padding-right: @paddingOneSide * 1px;
        }

        .@{prefix}-menu-item {
          height: 40px;
          line-height: 40px;
          padding-left: 20px !important;
          //padding-left: 20px;
          border-left: 4px solid transparent;
          //padding-right: 16px !important;
          padding-right: 16px;

          &.zyk-menu-item-has-other-children {
            padding-left: 0 !important;
            padding-right: 0;
            border-left: none;
          }

          &:first-child {
            margin-top: 0;
          }

          > a {
            padding-left: 0 !important;
            //padding-left: 0;
            padding-right: 0 !important;
            //padding-right: 0;
          }
          // 人才库特殊处理
          &:not(.zyk-menu-item-has-other-children).talent-folder-subsider-menu-item {
            > a {
              padding-left: 5px !important;
            }

            &:hover {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }

        .@{prefix}-menu-item-selected {
          @radius: 4px;

          //padding-left: 20px !important;
          border-top-right-radius: @radius;
          border-bottom-right-radius: @radius;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-left: 4px solid @primary-color;
        }

        // 文件夹
        .@{prefix}-tree {
          &.zyk-tree-directory {
            > li {
              span.zyk-tree-node-content-wrapper {
                &.zyk-tree-node-selected::before {
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  border-left: 4px solid @primary-color;
                }
              }
            }
          }
        }
      }
    }

    .zyk-layout-sider-referral {
      .@{prefix}-menu-submenu {
        .@{prefix}-menu-submenu-title {
          margin-top: 0;
          margin-bottom: 0;
          user-select: none;
        }

        .@{prefix}-menu-sub {
          background: transparent;
        }

        .@{prefix}-menu-item {
          padding-left: 36px !important;

          > a {
            color: #646a73;
          }
        }

        .@{prefix}-menu-item-selected {
          > a {
            color: @primary-color;
            font-weight: 500;
          }
        }

        &.@{prefix}-menu-submenu-active {
          .zyk-menu-submenu-title {
            background-color: @hover-bg;
            color: #1f2329;
          }
        }

        &.@{prefix}-menu-submenu-open .@{prefix}-menu-submenu-arrow {
          transform: translateY(-50%) rotate(180deg);
        }

        .@{prefix}-menu-submenu-arrow {
          background: url('../../assets/svg/menu-open.svg');
          width: 16px;
          height: 16px;
          transform: translateY(-50%);

          &::before,
          &::after {
            display: none;
          }
        }
      }

      .@{prefix}-menu-item {
        margin-top: 0;
        margin-bottom: 0;
        user-select: none;

        &.@{prefix}-menu-item-active:not(.zyk-menu-item-selected) {
          background-color: @hover-bg;
        }

        > a {
          color: #1f2329;
        }
      }

      .@{prefix}-menu-item-selected {
        > a {
          font-weight: 500;
        }
      }
    }

    .@{prefix}-route-content {
      position: relative;
      flex: 1;
      flex-basis: auto;
      width: 100%;
      min-height: 0;
      max-width: 100%;

      > .scrollbar-container {
        z-index: 0;
      }

      // 针对内推系统做的样式调整
      // 如果以后开放了一级菜单栏，left需要调整
      &.referral-system {
        > .page-loading {
          position: absolute;
          z-index: 1;
          top: 81px;
          left: 16px;
          background: transparent;
        }

        &.referral-share-form > .page-loading {
          background: transparent;
        }
      }
    }
  }

  &:global(.zyk-layout-has-sider) {
    :global {
      .@{prefix}-route-content {
        width: calc(100% - @siderWidth*1px);
      }
    }
  }
}
