{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "settings": {
	"import/resolver": {
	  "node": {
		"extensions": [".ts", ".tsx", ".js", ".jsx", ".d.ts"]
	  },
	  "alias": {
		"map": [
		  ["@src", "./src"]
		],
		"extensions": [".ts", ".tsx", ".js", ".jsx"]
	  }
	},
	"react": {
	  "version": "detect"
	}
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "window": false,
    "document": false
  },
  "plugins": ["@typescript-eslint", "react-hooks", "react", "jest"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "no-lone-blocks": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-console": 0,
    "no-continue": "off",
    "func-names": 0,
    "camelcase": "off",
    "class-methods-use-this": "off",
    "max-len": ["error", { "code": 1000 }],
    "array-callback-return": "off",
    "prefer-promise-reject-errors": "off",
    "no-use-before-define": "off", // 将来需要打开，现在因为react使用的ts的lint的版本问题？
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/prefer-default-export": 0,
    "react/display-name": 0,
    "react/no-find-dom-node": 0,
    "react/no-direct-mutation-state": 0,
    "react/prop-types": "off",
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }

}
