{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "settings": {
	"import/resolver": {
	  "node": {
		"extensions": [".ts", ".tsx", ".js", ".jsx", ".d.ts"]
	  },
	  "alias": {
		"map": [
		  ["@src", "./src"]
		],
		"extensions": [".ts", ".tsx", ".js", ".jsx"]
	  }
	},
	"react": {
	  "version": "detect"
	}
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "window": false,
    "document": false
  },
  "plugins": ["@typescript-eslint", "react-hooks", "jest"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
	"react/display-name": 0,
	"react/no-direct-mutation-state": 0,
	"@typescript-eslint/camelcase": 0,
	"@typescript-eslint/no-empty-interface": 0,
	"@typescript-eslint/indent": 0,
	"@typescript-eslint/no-unused-vars": 0,
	"no-param-reassign": 0,
	"no-shadow": 0,
	"func-names": 0,
	"import/no-extraneous-dependencies": "off",
	"@typescript-eslint/no-explicit-any": "off",
	"@typescript-eslint/explicit-member-accessibility": "off",
	"import/prefer-default-export": 0,
	"max-len": ["error", { "code": 200 }],
	"array-callback-return": "off"
  }

}
