@import (reference) "~@src/theme/index";

@width: 292;
@height: 54;

@widthPx: 292px;
@heightPx: 54px;

:export {
  width: @width;
  height: @height;
}

.area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  :global {
    .list {
      flex: 0 0 320px;
      height: 100%;
      padding-right: 8px;
      padding-top: 8px;

      .list-inner {
        background: @white;
        height: calc(100% - 16px);
        padding-bottom: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      .video-area {
        height: 250px;
        background: #000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .video-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        height: calc(100% - 250px);

        .operation {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: @widthPx;
          padding-bottom: 6px;

          .search-input-wrap {
            flex: 1 1 auto;
          }

          .search-input {
            width: 182px;
          }

          .btn-wrap {
            flex: 1 1 auto;
            text-align: right;
          }
        }

        .list-node-wrap {
          overflow: scroll;
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;

          .ant-empty {
            margin-top: 64px;
          }
        }
      }

      .node-wrap {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }

    .workspace {
      flex: 1 0 600px;
      height: calc(100% - 120px);
      //border: 1px solid black;

      .drop-measure-container {
        width: 100%;
        height: 100%;
      }

      .withLine {
        width: 100%;
        height: 100%;
        position: relative;

        canvas {
          width: 100%;
          height: auto;
          position: absolute;
        }
      }

      .react-view {
        display: none;
        height: 0;
      }
    }

    .edit-place {
      flex: 0 0 300px;
      height: 100%;
      background: transparent;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 8px;

      .edit-place-empty {
        background: @white;
        padding: 16px;
        box-shadow: @box-shadow;
        border-radius: 8px;
      }
    }
  }
}
