@import (reference) '~@src/theme/index';

.mainLayout {
  padding-left: 40px;
  padding-right: 40px;
  //background: @white;
  background: @gray-1;
  height: 100%;
  position: relative;
}

.contentWrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: @white;

  & > * {
    height: 100%;
    overflow: auto;
  }

  position: relative;
}
