@import (reference) "~@src/theme/index";
@import (reference) '../style';

.node {
  width: @widthPx;
  height: @heightPx;
  box-shadow: @box-shadow;
  border: 1px solid @border-color;
  text-align: center;
  line-height: normal;
  cursor: default;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12px;
  border-radius: 8px;
  background: #fff;

  &:hover {
    background-color: @gray-3;
    cursor: pointer;
  }

  &:global(.move) {
    cursor: move;
  }

  &:global(.active) {
    background-color: @gray-4;
  }

  :global {
    .icon {
      margin-left: 16px;
      font-size: 24px;
    }

    .symbol {
      margin-left: 12px;
    }
  }
}
